.button {
  cursor: pointer;
  background: #ff5d6c;
  border: none;
  padding: 10px 20px;
  color: white;
}

button {
  height: 2rem;
  background: #ff5d6c;
  border: black;
  padding: 10px 20px;
  color: white;
}
